{% include 'navbar.html' %}
{%block content%}

<div style="width:50%; float:left; padding : 20px; box-sizing:border-box;">
  <div class="flex justify-center items-center space-x-4">
    <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
      <div class="flex justify-between items-start w-full">
        <div class="flex-col items-center">
          <div class="flex items-center mb-1">
              <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">Ofertas con Sesgo</h5>
              <div data-popover id="chart-info" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400"></div>
              <div data-popper-arrow></div>
          </div>
        </div>
      </div>
      <!-- Line Chart -->
      <div class="py-5" id="pie-chart-1"></div>

      <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
        <div class="flex justify-between items-center pt-5">
          <!-- Button -->
          <button
            id="dropdownDefaultButton-1"
            data-dropdown-toggle="lastDaysdropdown"
            data-dropdown-placement="bottom"
            class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
            type="button">
            Hoy
            <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
          </button>
          <div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton-1">
                <li>
                  <a href="{% url 'prueba' id=user.company.id date_filter='yesterday' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ayer</a>
                </li>
                <li>
                  <a href="{% url 'prueba' id=user.company.id date_filter='today' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Hoy</a>
                </li>
                <li>
                  <a href="{% url 'prueba' id=user.company.id date_filter='last_7_days' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 7 dias</a>
                </li>
                <li>
                  <a href="{% url 'prueba' id=user.company.id date_filter='month' %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimo Mes</a>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>

    <div class="max-w-sm w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">

      <div class="flex justify-between items-start w-full">
          <div class="flex-col items-center">
            <div class="flex items-center mb-1">
                <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white me-1">Porcentaje por Sesgo</h5>
                <div data-popover id="chart-info" role="tooltip" class="absolute z-10 invisible inline-block text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
                </div>
                <div data-popper-arrow></div>
            </div>
          </div>
        
      </div>

      <!-- Line Chart -->
      <div class="py-3" id="pie-chart-2"></div>

      <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
        <div class="flex justify-between items-center pt-5">
          <!-- Button -->
          <button
            id="dropdownDefaultButton"
            data-dropdown-toggle="lastDaysdropdown"
            data-dropdown-placement="bottom"
            class="text-sm font-medium text-gray-500 dark:text-gray-400 hover:text-gray-900 text-center inline-flex items-center dark:hover:text-white"
            type="button">
            Hoy
            <svg class="w-2.5 m-2.5 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
            </svg>
          </button>
          <div id="lastDaysdropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ayer</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Hoy</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimos 7 dias</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Ultimo Mes</a>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
<br>
<div class="flex justify-center items-center space-x-4 " >
<div class=" bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-15" style="width:87%; background-color:white;">
  <div class="flex justify-between pb-4 mb-4 border-b border-gray-200 dark:border-gray-700">
    <div class="flex items-center">
      
      <div>
        <h5 class="leading-none text-2xl font-bold text-gray-900 dark:text-white pb-1">Comparativa de Sesgos</h5>
        
      </div>
    </div>
    
  </div>

  

  <div id="column-chart" style="width:100%;"></div>
    <div class="grid grid-cols-1 items-center border-gray-200 border-t dark:border-gray-700 justify-between">
      
    </div>
  </div>
</div>

</div>

<div style="width:50%; height:100vh; float:right; padding : 20px; background-color:black;"></div>
<script>
  let offers_total = {{offers_total}};
  let offers_bias = {{offers_bias}};
  let total = 0 ; let bias = 0;
  if(offers_total != 0 && offers_bias != 0){
    total = offers_total;
    bias = (offers_bias*100)/total;
  }
  // ApexCharts options and config
  window.addEventListener("load", function(){
    const getChartOptions = () => {
        return {
          series: [bias, 100-bias],
          colors: ["#1C64F2", "#16BDCA"],
          chart: {
            height: 420,
            width: "100%",
            type: "pie",
          },
          stroke: {
            colors: ["white"],
            lineCap: "",
          },
          plotOptions: {
            pie: {
              labels: {
                show: true,
              },
              size: "100%",
              dataLabels: {
                offset: -25
              }
            },
          },
          labels: ["Con Sesgo", "Sin Sesgo"],
          dataLabels: {
            enabled: true,
            style: {
              fontFamily: "Inter, sans-serif",
            },
          },
          legend: {
            position: "bottom",
            fontFamily: "Inter, sans-serif",
          },
          yaxis: {
            labels: {
              formatter: function (value) {
                return value + "%"
              },
            },
          },
          xaxis: {
            labels: {
              formatter: function (value) {
                return value  + "%"
              },
            },
            axisTicks: {
              show: false,
            },
            axisBorder: {
              show: false,
            },
          },
        }
      }

      if (document.getElementById("pie-chart-1") && typeof ApexCharts !== 'undefined') {
        const chart = new ApexCharts(document.getElementById("pie-chart-1"), getChartOptions());
        chart.render();
      }
  });
</script>
<script>
  let total_bias = {{total_bias}};
  let sexismo = {{bias_percentage.Sexismo}};
  let racismo = {{bias_percentage.Racismo}};
  let edad = {{bias_percentage.Edad}};
  let ubicacion = {{bias_percentage.Ubicacion}};
  let ideologias = {{bias_percentage.Ideologias}};
  let xenofobia = {{bias_percentage.Xenofobia}};
  let ninguno = {{bias_percentage.Ninguno}}

  if(total_bias != 0){
    sexismo = (sexismo*100)/total_bias;
    racismo = (racismo*100)/total_bias;
    edad = (edad*100)/total_bias;
    ubicacion = (ubicacion*100)/total_bias;
    ideologias = (ideologias*100)/total_bias;
    xenofobia = (xenofobia*100)/total_bias;
    ninguno = (ninguno*100)/total_bias;
  }

  // ApexCharts options and config
  window.addEventListener("load", function() {
    const getChartOptions = () => {
        return {
          series: [sexismo, edad, racismo, ubicacion, ideologias, xenofobia, ninguno],
          colors: ["#1C64F2", "#16BDCA", "#FDBA8C","#3C3CA3", "#CC5E6B","#9A5DA2", "#949494"],
          chart: {
            height: 420,
            width: "100%",
            type: "pie",
          },
          stroke: {
            colors: ["white"],
            lineCap: "",
          },
          plotOptions: {
            pie: {
              labels: {
                show: true,
              },
              size: "100%",
              dataLabels: {
                offset: -25
              }
            },
          },
          labels: ["Sexismo", "Edad", "Racismo","Ubicacion","Ideologias","Xenofobia", "Ninguno"],
          dataLabels: {
            enabled: true,
            style: {
              fontFamily: "Inter, sans-serif",
            },
          },
          legend: {
            position: "bottom",
            fontFamily: "Inter, sans-serif",
          },
          yaxis: {
            labels: {
              formatter: function (value) {
                return value + "%"
              },
            },
          },
          xaxis: {
            labels: {
              formatter: function (value) {
                return value  + "%"
              },
            },
            axisTicks: {
              show: false,
            },
            axisBorder: {
              show: false,
            },
          },
        }
      }

      if (document.getElementById("pie-chart-2") && typeof ApexCharts !== 'undefined') {
        const chart = new ApexCharts(document.getElementById("pie-chart-2"), getChartOptions());
        chart.render();
      }
  });
</script>

<script>

  let sexismoact = {{act.Sexismo}};
  let racismoact = {{act.Racismo}};
  let ubicacionact = {{act.Ubicacion}};
  let xenofobiaact = {{act.Xenofobia}};
  let ideologiasact = {{act.Ideologias}};
  let edadact = {{act.Edad}};

  let sexismola = {{last.Sexismo}};
  let racismola = {{last.Racismo}};
  let ubicacionla = {{last.Ubicacion}};
  let xenofobiala = {{last.Xenofobia}};
  let ideologiasla = {{last.Ideologias}};
  let edadla = {{last.Edad}};
  
  

  // ApexCharts options and config
  window.addEventListener("load", function() {
    const options = {
          colors: ["#1A56DB", "#FDBA8C"],
          series: [
            {
              name: "Mes Actual",
              color: "#1A56DB",
              data: [
                { x: "Sexismo", y: sexismoact },
                { x: "Racismo", y: racismoact },
                { x: "Edad", y: edadact },
                { x: "Ideologias", y: ideologiasact },
                { x: "Xenofobia", y: xenofobiaact },
                { x: "Ubicacion", y: ubicacionact },
                
              ],
            },
            {
              name: "Mes Anterior",
              color: "#FDBA8C",
              data: [
                { x: "Sexismo", y: sexismola },
                { x: "Racismo", y: racismola },
                { x: "Edad", y: edadla },
                { x: "Ideologias", y: ideologiasla },
                { x: "Xenofobia", y: xenofobiala },
                { x: "Ubicacion", y: ubicacionla },
               
              ],
            },
          ],
          chart: {
            type: "bar",
            height: "320px",
            fontFamily: "Inter, sans-serif",
            toolbar: {
              show: false,
            },
          },
          plotOptions: {
            bar: {
              horizontal: false,
              columnWidth: "50%",
              borderRadiusApplication: "end",
              borderRadius: 8,
            },
          },
          tooltip: {
            shared: true,
            intersect: false,
            style: {
              fontFamily: "Inter, sans-serif",
            },
          },
          states: {
            hover: {
              filter: {
                type: "darken",
                value: 1,
              },
            },
          },
          stroke: {
            show: true,
            width: 0,
            colors: ["transparent"],
          },
          grid: {
            show: false,
            strokeDashArray: 4,
            padding: {
              left: 2,
              right: 2,
              top: -14
            },
          },
          dataLabels: {
            enabled: false,
          },
          legend: {
            show: false,
          },
          xaxis: {
            floating: false,
            labels: {
              show: true,
              style: {
                fontFamily: "Inter, sans-serif",
                cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
              }
            },
            axisBorder: {
              show: false,
            },
            axisTicks: {
              show: false,
            },
          },
          yaxis: {
            show: false,
          },
          fill: {
            opacity: 1,
          },
        }

        if(document.getElementById("column-chart") && typeof ApexCharts !== 'undefined') {
          const chart = new ApexCharts(document.getElementById("column-chart"), options);
          chart.render();
        }
  });
</script>

{%endblock content%}