<!DOCTYPE html>
<html lang="es">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" rel="stylesheet">
    <style>
        .titulo-principal {
            font-size: 2.5rem;
            font-weight: bold;
            text-align: center;
            margin: 2rem 0;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiasBuster</title>
    <link rel="icon" href="https://o.remove.bg/downloads/0bb1691f-27e0-473a-b628-25bb66821487/unnamed-removebg-preview.png">
</head>   
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>
