{% include 'navbar.html' %}
{% block content %}
    <div class="container mx-auto my-4">
        <h1 class="titulo-principal">Análisis respecto a Ubicación</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="flex justify-between mb-1">
                    <span class="text-base font-medium text-blue-900 dark:text-white">Porcentaje de aparición en las ofertas</span>
                    <span class="text-sm font-medium text-blue-900 dark:text-white">25%</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                    <div class="bg-blue-900 h-2.5 rounded-full" style="width: 25%"></div>
                </div>
                <div class="flex justify-between mb-1">
                    <span class="text-base font-medium text-blue-900 dark:text-white">Porcentaje de veces que se ha corregido</span>
                    <span class="text-sm font-medium text-blue-900 dark:text-white">10%</span>
                </div>
                <div class="w-full bg-gray-200 rounded-full h-2.5 dark:bg-gray-700">
                    <div class="bg-blue-900 h-2.5 rounded-full" style="width: 10%"></div>
                </div>

                <!--Graphic-->
                <canvas id="miGrafico" width="400" height="200"></canvas>
                <script>
                    var ctx = document.getElementById('miGrafico').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Porcentaje de aparición en las ofertas', 'Porcentaje de veces que se ha corregido'],
                            datasets: [{
                                label: 'Porcentajes',
                                data: [25, 10],
                                backgroundColor: [
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 99, 132, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 99, 132, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    max: 100
                                }
                            }
                        }
                    });
                </script>

                <!-- Buttons -->
                <div class="mt-4 text-center">
                    <button class="bg-blue-900 text-white px-4 py-2 rounded-full">Descargar Información</button>
                    <a href="{% url 'informs_diagrams' %}" class="bg-blue-900 text-white px-4 py-2 rounded-full ml-2">Regresar</a>
                </div>
            </div>
        </div>
    </div>    
{% endblock content %}