{% include 'navbar.html' %}
{% block content %}
    <form action="{% url 'drafts' %}" method="get">
        <div class="max-w-xs ml-4 mb-4 border border-gray-200 rounded-lg shadow-md">
            <div class="relative w-full">
                <input type="text" name="searchOffer" id="searchOffer" class="w-full h-8 pl-3 pr-8 text-xs border rounded-lg outline-none dark:bg-gray-800" placeholder="Ingresa el nombre de tu vacante a analizar">
                <button class="absolute w-6 h-6 text-gray-400 transition-colors duration-150 cursor-pointer right-1 top-1 rounded-lg hover:text-gray-300 dark:hover:text-gray-500 focus:outline-none">
                    <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M15 11a4 4 0 11-8 0 4 4 0 018 0z"/>
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M21 21l-4.35-4.35"/>
                    </svg>
                </button>
            </div>
        </div>
    </form>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for offer in offers %}
            <div class="max-w-sm mx-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
                <div class="p-5">
                    <a href="{% url 'bias' offer.id %}">
                        <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ offer.title }}</h1>
                        <p class="mb-3 text-sm font-normal text-black-700 dark:text-black-400 truncate-description" style="max-height: 145px; overflow: hidden;">
                            {{ offer.description }}
                        </p>
                        <div class="description-full hidden">
                            {{ offer.description }}
                        </div>
                    </a>
                    <button type="button" class="toggle-description">
                        <span class="toggle-icon text-blue-500"><i class="fa-solid fa-ellipsis"></i></span>
                        <span class="sr-only">Toggle Description</span>
                    </button>  
                </div>
            </div> 
        {% endfor %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const toggleButtons = document.querySelectorAll('.toggle-description');

            toggleButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    const container = this.parentElement;
                    const truncatedDescription = container.querySelector('.truncate-description');
                    const fullDescription = container.querySelector('.description-full');
                    const toggleIcon = this.querySelector('.toggle-icon'); // Obtener el ícono

                    if (truncatedDescription.style.display === 'none' || truncatedDescription.style.display === '') {
                        truncatedDescription.style.display = 'block'; // Mostrar la descripción truncada
                        fullDescription.style.display = 'none'; // Ocultar el contenido completo
                        toggleIcon.innerHTML = '<i class="fas fa-ellipsis-h"></i>'; // Cambiar el ícono a "..."
                    } else {
                        truncatedDescription.style.display = 'none'; // Ocultar la descripción truncada
                        fullDescription.style.display = 'block'; // Mostrar el contenido completo
                        toggleIcon.innerHTML = '<i class="fas fa-times"></i>'; // Cambiar el ícono a "x"
                    }
                });
            });

            const truncateElements = document.querySelectorAll('.truncate-description');

            truncateElements.forEach(function (element) {
                const fullHeight = element.scrollHeight;

                if (fullHeight <= 100) {
                    // El contenido se ajusta correctamente, ocultar el botón
                    const toggleButton = element.parentElement.querySelector('.toggle-description');
                    toggleButton.style.display = 'none';
                }
            });
        });
    </script>
{% endblock content %}